#top {
    position: relative;
    margin: none;
    width: 100%;

}

#navbar {
    height: 50px;
    background-color: lightslategray;
    display: flex;
    width: 100%;
    color: white;
}

.navbarBtn {
    padding-left: 10px;

    padding-right: 10px;
    border: 0px solid white;
    color: inherit;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.navbarBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#popup {
    display: none;
}

.show {
    display: block;
}